/*Header*/
header{
    background-image: url(../resources/background-header.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.header-text{
    margin: 200px 100px;
    position: absolute;
    font-family: "Averia Serif Libre", serif;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px #f09d51;
 }
 .find-btn{   /*Button*/
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f09d51;
    color: white;
    margin: 50px 200px;
    font-family: "Averia Serif Libre", serif;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .find-btn a{
    color: inherit;
    text-decoration: none;
 }
 .find-btn:hover{
    background-color: #c85000;
    transform: scale(1.1); 
 }
 /*Mobile*/
 @media (max-width:600px){
header{
height: 100vh;
width: 100%;
}  

.header-text{
    margin: 200px 30px;
    font-size: 20px;
    width: 300px;
    text-align: center;
}
.find-btn{
    width: 100px;
    margin: 10px 10px;
}
 }

 /*Main Section 1*/

.section-1{
    width: 100%;
    display: flex;
    height: 200px;
    margin-top: 100px;
    justify-content: space-around;
    
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;

} 
.info{
    display: flex;
    text-align: center;
    align-items: center;
    margin: 10px;
    gap: 10px;
    justify-content: center;
    font-size: 20px;
    font-family: "Averia Serif Libre", serif;
}
.info i{
    color: #c85000;
}
.up-text,
.feed-text{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    font-size: 20px;
}
.award-text h2,
.up-text h2,
.feed-text h2,
.info p{
    color: #ffffff;
    text-shadow: 
      1px 0px 1px #f09d51, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
}
hr{ /*Line Title*/
    border:1px solid #f09d51;
    width: 600px;
    height: 0px;
    margin-top: 20px;
    margin-left: 50px;
    border: 1px solid rgb(209, 158, 124);
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

/*Mobile*/
@media (max-width:600px){
  .section-1{
    flex-direction: column;
  }
 
}


/*Section 2 Upcoming Books*/

.up-text{  /*Title*/
    margin-left: 500px;
    margin-top: 200px;
}
.container-s2{ /*Container*/
    width: 100%;
    height: 550px;
    margin-top: 50px;
    display: flex;
    background-color: #e5d6c4;
    margin-bottom: 200px;
}
.image-person{
    filter: drop-shadow(0 20px 20px #0009);
}

/*Item*/
.container-s2 .book{
    background-color:#decbb2;
    height: 370px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 50px 60px;
text-align: center;
}
.container-s2 .book img{
    margin-left: -20px;
    margin-top: -20px;
}
.book{  /*Item*/
    width: 420px;
    height: 234px;
    background-color: #decbb2;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.book img{
    width: 170px;
    height: 230px;
    margin-top:20px;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-left: 20px;
}
.book img:hover{
    transform: scale(1.1); 
}
.price{  /*Price*/
    margin-top: 10px;
    font-size: 20px;
    color:#fbfbfb;
    text-shadow: 2px 2px #c1a785;
}
.title{
    width: 180px;
    font-size: 22px;
    font-family: "Averia Serif Libre", serif;
    margin: 10px 0px;
    color:#ffffff;
    text-shadow: 2px 2px #c1a785;
}
.author{
    font-size: 14px;
    font-family: "Averia Serif Libre", serif;
    color:grey; 
}
.by{ /*Span*/
    font-size: 0.8rem;
    padding-right: 5px;
    color:grey;
    font-family: "Averia Serif Libre", serif;
}
.add {
    font-family: "Averia Serif Libre", serif;
    background-color: #a48865;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 10px;
    height: 2rem;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;


  }
  .add a{
    color: inherit;
    text-decoration:none ;
  }
  .add:hover,
  .add:focus,
  .news-btn:hover,
  .news-btn:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  .add:hover,
  .news-btn:hover {
    transform: translateY(-1px);
  }
  .add:active,
  .news-btn:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  @media (max-width:600px){
    *{
        align-items: center;
    }
    .up-text{
     margin: 50px 0;
    width: 100%;
    text-align: center;
    display:inline-block;
    align-items: center;
    }
    .up-text h2{
      margin-top: 100px;
      margin-left: 20px;
    }
    .container-s2{
        flex-direction: column;
        height: 200vh;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .image-person{
       display: none;
    }
    hr{
        margin: -10px 5px;
        width: 80px;
    }
  }
/*Section 3 Newsletter*/
.newsletter{
    background-image: url(../resources/newsletter.jpg);
    height: 200px;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.news{
    background-color: #e5d6c4;
    width: 900px;
    height: 120px;
    margin: 50px 300px;
    position: absolute;
    display: flex;
    border-radius: 10px;
}
.news h2{
    margin: 50px;
    font-family: "Averia Serif Libre", serif;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px #decbb2;
}
input[type=email]{
    margin:40px 0px;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #decbb2;
    padding: 10px 40px;
    box-shadow: rgb(179, 162, 140) 3px 3px 6px 0px inset, rgba(198, 198, 198, 0.5) -3px -3px 6px 1px inset;
    color: #f6f6f6;
}
.news-btn{  /*Button*/
    width: 80px;
    height: 30px;
    position: absolute;
    margin: 50px -100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #b59064;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: white;
    font-family: "Averia Serif Libre", serif;
}
@media (max-width:600px){
    .newsletter{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .news{
        margin: 30px 0px;
        width: 100%;
    }
    .news h2{
        display: inline;
        margin-top: -150px;
        margin-left: 10px;
        height: 100px;
        width: 100%;
        text-align: center;
    }
    form{
     width: 100%;
    margin-left: -400px;
    }
    input[type=email]{
        width: 300px;
        margin-left: 10px;
    }
 
}
/*Section 4 Feedback*/
.rating,   /*Star Rating Fixed*/
.rating-feed{
    margin-top: 10px;
    margin-left: 20px;
}
.average-rating,
.average-rating-feed{
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 25px;
  }
.average-rating::before,
.average-rating-feed::before {
    --percent: calc(4.3/5*100%);
    content: "★★★★★";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(220, 193, 37) var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.feed-text{
    margin-top: 200px;
}
.container-feed{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.card{
    background-color: #e5d6c4;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
}
.card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin: -30px 120px;
}
.card p{
   text-align: center;
   margin-top: 60px;
   font-family: "Averia Serif Libre", serif;
}
.name-feed{
    color: white;
    text-shadow: 2px 2px #decbb2;
}
/*Rating*/
.rating-feed{
    margin: 20px 120px;
}
.b7::before{
    --percent: calc(5/5*100%);
}
.b8::before{
    --percent: calc(4.5/5*100%);
}
.b9::before{
    --percent: calc(4.4/5*100%);
}
@media (max-width:600px){
    .feed-text{
        margin: 100px 0px;
        width: 100%;
        margin-bottom: 400px;
    }
    .container-feed{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;

    }
    .card{
        width: 100%;
    
    }

}
