@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(237, 232, 222);
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:transparent;
    position: fixed;
    width: 100%;
    color: white;
    background-color: transparent;
    height: 50px;
    align-items: center;
    z-index: 10;
    transition: background-color 250ms ease;
}  
 nav.scrolled {
    background-color: #c1a785;
  }
.nav-links{
    display: flex;
    list-style: none;
    gap: 10px;
    padding-right: 20px;
}
.nav-links li{
    color: rgb(255, 255, 255);
    font-family: "Averia Serif Libre", serif;
    text-shadow: 2px  2px 2px #decbb2;
    font-size: 1.2rem;
}
.nav-links li a{
    text-decoration: none;
    color: inherit;
}
.container-nav{
    display: flex;
    gap: 10px;
    padding-left: 10px;
}
.menu{
    display: none;
}

header{
    background-image: url(./resources/thought-catalog-Pnvmg65W9tQ-unsplash.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text{
   margin: 200px 100px;
   position: absolute;
   font-family: "Averia Serif Libre", serif;
   color: white;
   font-size: 1.5rem;
   text-shadow: 2px 2px #decbb2;
}
input[type=search]{
    margin:50px 50px;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #decbb2;
    padding: 10px 40px;
    box-shadow: rgb(179, 162, 140) 3px 3px 6px 0px inset, rgba(198, 198, 198, 0.5) -3px -3px 6px 1px inset;
    color: #f6f6f6;
}
.input i{
    position: absolute;
    left: 0px;
    padding: 60px 60px;
    pointer-events: none;
    font-size: 1.2rem; 
    color: #746047;
}
::placeholder{
    color: #746047;
    font-family: "Averia Serif Libre", serif;
}
/*Logo*/

.logo img{
    width: 100px;
    margin-top: 10px;
}
/*Shoping-Cart*/
.basket span{
    display: flex;
    width: 14px;
    height: 14px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    color: #decbb2;
    border-radius: 50%;
    position: absolute;
    right: -12px;
    top: 16px;
    font-size: 10px;
}
.basket{
    position: relative;
    font-size: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-top: 50px;
    margin-left: -10px;
}
/*Page 1*/
.award-text, /*Title*/
.new-text,
.feed-text{
    margin-top: 100px;
    margin-left: 100px;
   display: flex;
   font-size: 20px;
}
.award-text h2,
.new-text h2,
.feed-text h2{
    color: #444;
    text-shadow: 
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
}
hr{ /*Line*/
    color: #746047;
    width: 600px;
    height: 0px;
    margin-top: 20px;
    margin-left: 10px;
}

/*Container*/
.container-1{
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

/*Item*/
.book{
    width: 420px;
    height: 220px;
    background-color: #decbb2;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.book img{
    width: 170px;
    height: 230px;
    margin-top:20px;
    border-radius: 10px;
    transition: all 0.5s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-left: 20px;
    
}
.book img:hover{
    transform: scale(1.1); 
}
/*Text*/
.book-text{
    margin-left: 50px;
    margin-top: 20px;
}
.title{
    width: 180px;
    font-size: 22px;
    font-family: "Averia Serif Libre", serif;
    margin: 10px;
    color:#ffffff;
    text-shadow: 2px 2px #c1a785;
}
.author{
    font-size: 14px;
    text-indent: 10px;
    font-family: "Averia Serif Libre", serif;
    color:#504d44;
   

    
}
.by{
    font-size: 0.8rem;
    padding-right: 5px;
    color:#504d44;
    font-family: "Averia Serif Libre", serif;
}
/*Rating*/

.rating,
.rating-feed{
    margin-top: 10px;
    margin-left: 20px;
}
.average-rating,
.average-rating-feed{
    position: relative;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    color: transparent;
    width: auto;
    display: inline-block;
    vertical-align: baseline;
    font-size: 25px;
  }
  
  .average-rating::before,
  .average-rating-feed::before {
    --percent: calc(4.3/5*100%);
    content: "★★★★★";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(220, 193, 37) var(--percent), rgba(0, 0, 0, 0.2) var(--percent));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.b2::before{
    --percent: calc(5/5*100%);
}
.b3::before{
    --percent: calc(4.5/5*100%);
}

/**/
.price{
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    color:#fbfbfb;
    text-shadow: 2px 2px #c1a785;
}
/*Button*/
.add {
font-family: "Averia Serif Libre", serif;
  align-items: center;
  background-color: #a48865;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: 10px;
  height: 2rem;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
}
.add:hover,
.add:focus,
.news-btn:hover,
.news-btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}
.add:hover,
.news-btn:hover {
  transform: translateY(-1px);
}
.add:active,
.news-btn:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/*Page 2*/
/*Newsletter*/

.newsletter{
    background-image: url(./resources/newsletter.jpg);
    height: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/*Page 3*/

.new-text{ /*Title*/
    margin-left: 500px;
}
.page-2{ /*Container*/
    width: 100%;
    height: 500px;
    margin-top: 50px;
    display: flex;
 background-color: #e5d6c4;
 margin-bottom: 200px;
}
.man{
    filter: drop-shadow(0 20px 20px #0009);
}
/*Item*/
.s2{
    background-color:#decbb2;
    height: 420px;
    width: 200px;
    display: flex;
    flex-direction: column;
    margin: 50px 60px;
}
.s2 img{
    margin-left: -20px;
    margin-top: -20px;
}
/*Text*/
.p3{
    margin-left: 30px;
}
/*Rating*/
.b4::before{
    --percent: calc(5/5*100%);
}.b5::before{
    --percent: calc(4.6/5*100%);
}.b6::before{
    --percent: calc(4/5*100%);
}


/*NewsLetter*/
.news{
    background-color: #e5d6c4;
    width: 900px;
    height: 120px;
    margin: 50px 300px;
    position: absolute;
    display: flex;
    border-radius: 10px;
}
.news h2{
    margin: 50px;
    font-family: "Averia Serif Libre", serif;
    color: white;
    font-size: 1.5rem;
    text-shadow: 2px 2px #decbb2;
}
input[type=email]{
    margin:40px 0px;
    height: 50px;
    width: 400px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #decbb2;
    padding: 10px 40px;
    box-shadow: rgb(179, 162, 140) 3px 3px 6px 0px inset, rgba(198, 198, 198, 0.5) -3px -3px 6px 1px inset;
    color: #f6f6f6;

}
/*Button*/
.news-btn{
    width: 80px;
    height: 30px;
    position: absolute;
    margin: 50px -100px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #b59064;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: white;
    font-family: "Averia Serif Libre", serif;
}


/*3*/
.feed-title{
    margin-top: 100px;
    text-align: center;
}
.container-feed{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
}
.card{
    background-color: #e5d6c4;
    width: 350px;
    height: 350px;
    margin-top: 50px;
    border-radius: 10px;
}
.card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin: -30px 120px;
}
.card p{
   text-align: center;
   margin-top: 60px;
   font-family: "Averia Serif Libre", serif;
}
.name-feed{
    color: white;
    text-shadow: 2px 2px #decbb2;
}
/*Rating*/
.rating-feed{
    margin: 20px 120px;
}
.b7::before{
    --percent: calc(5/5*100%);
}
.b8::before{
    --percent: calc(4.5/5*100%);
}
.b9::before{
    --percent: calc(4.4/5*100%);
}

/*Slider*/

#marquee__container {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    padding: 2rem 0;
}
.marquee__title {
    font-size: 3rem;
    color: #5e5e5e;
    margin: 2rem 0;
    text-align: center;
     padding: 1rem;
     
}
.marquee {
    background-color: transparent;
    color: lightgrey;
    width: 80vw;
    overflow: hidden;
    background-color: #decbb2;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
    
.marquee__content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling 30s linear infinite;
}
.marquee__content li {
    width: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.marquee__img {
    width: 180px;
    padding: 1rem;
    border-radius: 20px;
}
    
@keyframes scrolling{
0% { transform: translateX(-0vw); }
100% { transform: translateX(-160vw); }
}
    
/*HOVER / PAUSED STATE*/
.marquee__content:hover {
    animation-play-state: paused;
} 
.marquee__img:hover {
    transition: all .4s ease;
    border-radius: 10px;
    box-shadow: 0 0 10px #0a0a0a;
    background-color: #fb8332;
}

/*MOBILE VERSION*/
@media screen and (max-width: 500px) {
.marquee__img {
    width: 50vw;
}  
.marquee__content {
    animation: scrolling 25s linear infinite;
}
.marquee__content li {
     width: 100%;
}
.marquee--invisible--mobile {
    display: none!important;
}
    
@keyframes scrolling {
0% { transform: translateX(-0vw); }
100% { transform: translateX(-760vw); }
 }
}

    /*TABLET VERSION*/
@media screen and (max-width: 1100px) {
        
.marquee__title {
        font-size: 2.5rem;
     padding: 0rem;
}
.marquee__content li {
     width: 25vw;
} 
.marquee {
    width: 95vw;
    margin: 1rem 0;
} 
.marquee__img {
    width: 20vw;
 }

 @keyframes scrolling {
    0%   {transform: translateX(-0vw);}
     100% { transform: translateX(-200vw);}
 }
}
        
/*Footer*/

footer{
    width: 100%;
    height: 500px;
    background-image: url(./resources/footer.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
   
}
iframe{
  border-radius: 50px;
    float: right;
    filter: drop-shadow(0 20px 20px #0009);
}

.footer-row1{
    display: flex;
    padding-top: 100px;
    justify-content: space-evenly;
    font-family: "Averia Serif Libre", serif;
}
/*Icons*/
.bi-geo-alt-fill,
.bi-telephone-fill{
    position: absolute;
    margin: -28px 80px;
    font-size: 20px;
    color: #c85000;
}
.bi-envelope-open-fill{
    position: absolute;
    margin: -28px 110px;
    font-size: 20px;
    color: #c85000;
}
.footer-row1 ul{
    list-style: none;
}
.footer-row1 ul li:nth-child(3){
    color: grey;
}
.footer-row1 ul li:first-child{
 font-size: 20px;
}
/*Line*/
.footer-line{
    margin: 100px 300px;
    border:1px solid #c85000;
}
.footer-row2{
    display: flex;
    font-family: "Averia Serif Libre", serif;
    gap: 250px;
    margin: -50px 180px;
  
}
.footer-row2 ul{
    list-style: none;
}
.footer-row2 ul li{
    margin: 10px;
}
.footer-row2 ul li:first-child{
    margin-bottom: 5px;
    font-size:20px;
}
.footer-row2 ul li a{
    color: grey;
}
.copy-right{
  margin: 60px 50px;
  color: grey;
}
.icons {
    float: right;
    font-size: 30px;
    display: flex;
    gap: 40px;
    margin-right: 80px;
    cursor: pointer;
}
.icons i{
  transition: all 0.5s ease;
  color:#c85000;
}
.icons i:hover{
    transform: scale(1.4); 
}
.logo-footer img{
width: 200px;
}
.logo-footer{
    margin-top: -50px;
    margin-left: -50px;
}